<!-- 1이 무료 0이 유료 -->
<div class="form-check mb-2">
  <input class="form-check-input input-change" type="radio" name="conIsfree" id="free" value="1" <%=checked===true
    ? 'checked' : '' %> />
  <label class="form-check-label" for="free">
    무료
  </label>
</div>
<div class="form-check">
  <input class="form-check-input input-change" type="radio" name="conIsfree" id="paid" value="0" />
  <label class="form-check-label" for="paid">
    유료
  </label>
</div>