<!-- 0이 온라인 1이 오프라인 -->
<div class="form-check mb-2">
  <input class="form-check-input input-change" type="radio" name="isOnoff" id="online" value="0" <%=checked===true
    ? 'checked' : '' %>
  />
  <label class="form-check-label" for="online">
    온라인
  </label>
</div>
<div class="form-check">
  <input class="form-check-input input-change" type="radio" name="isOnoff" id="offline" value="1" />
  <label class="form-check-label" for="offline">
    오프라인
  </label>
</div>