<option value="서울/경기/인천">
  서울/경기/인천
</option>
<option value="부산/울산/경남">
  부산/울산/경남
</option>
<option value="대구/경북">대구/경북</option>
<option value="충청/대전/세종">
  충청/대전/세종
</option>
<option value="전라/광주">전라/광주</option>
<option value="강원도">강원도</option>
<option value="제주도">제주도</option>