@import url('../../common/editor.css');
@import url('../../common/editorToolbar.css');

/* 제목 */

.post-title {
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-title .textarea_tit {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    line-height: 40px;
    height: 42px;
    font-size: 30px;
    overflow: hidden;
    padding: 0 5px;
}
