@import url('./reset.css');

body {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

main {
    flex: 1;
}
