<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../common/head.ejs', {title: '관리자페이지' }) %>
    </head>
    <body>
        <h1>관리자 페이지</h1>
        <button type="button" onclick="">전체 유저 보기</button>
        <button type="button" onclick="">행사 등록 신청 승인 페이지</button>
    </body>
</html>
