<!-- 좌측 메뉴바 -->
<nav class="ani-navbar">
    <div class="ani-navbar-menu">
        <a href="/manager/allUser">유저 관리</a>
    </div>
    <div class="ani-navbar-menu">
        <a href="/manager/allUser">행사 조회</a>
    </div>
    <div class="ani-navbar-menu">
        <a href="/manager/allUser">행사 관리</a>
    </div>
</nav>
