<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../common/head.ejs', {title: '관리자페이지' }) %>
    </head>
    <body>
        <h1>관리자 페이지</h1>
        <h4>행사 등록 승인</h4>
        <h4>전체 유저 보기</h4>
    </body>
</html>
