<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '프로필' }) %>
        <link rel="stylesheet" href="/static/css/review.css" />
        <script defer src="/static/js/review.js"></script>
    </head>

    <body>
        <%- include('../../common/header.ejs') %>
        <h1>마이 페이지</h1>
            <button type="button" onclick="myFavoriteList(`<%= data.id%>`)">찜한 행사 목록 보기</button>
            <div id="myFavoriteList">
                <!-- myFavorite리스트를 여기에 동적으로 추가 -->
            </div>
        </form>
        <%- include('../../common/footer.ejs') %>
        <script>
            // 내가 찜한 행사 보기
            function myFavoriteList(userId) {
                axios({
                    method: 'GET',
                    url: '/myPage/myFavoriteList',
                    params: {
                        userId: userId,
                    },
                }).then((res) => {
                    if (res.status === 200) {
                        const myFavoriteList = res.data.getFavorites;
                        if (Array.isArray(myFavoriteList) && myFavoriteList.length > 0) {
                            const myFavoriteListContainer = document.getElementById('myFavoriteList');
                            myFavoriteListContainer.innerHTML = '';

                            myFavoriteList.forEach((favorite) => {
                                const favoriteElement = document.createElement('div');
                                favoriteElement.innerHTML = `
                                    <p>행사 제목: ${favorite.con_title}</p>
                                    <p>행사 내용: ${favorite.con_content}</p>
                                    <p>행사 상세 페이지: /localhost:8000/event/${favorite.con_id}</p>
                                    <button type="button" onclick="deletefavorite(${favorite.con_id})">찜 삭제</button>
                                `;
                                myFavoriteListContainer.appendChild(favoriteElement);
                            });
                        } else {
                            const myFavoriteListContainer = document.getElementById('myFavoriteList');
                            myFavoriteListContainer.innerHTML = '찜한 행사가 없습니다.';
                        }
                    } else {
                        console.log("error");
                    }
                })
            };
            // 찜한 행사 삭제
            function deletefavorite(conId) {
            axios ({
                method: 'delete',
                url: '/manager/deleteMyFavorite',
                data: {
                    con_id: conId,
                },
            }).then ((res) => {
                if (res.data === true) {
                alert('찜 리스트에서 삭제되었습니다.');
                } else {
                alert ('이미 삭제하였거나 삭제할 수 없습니다.');
                }
            });
            };
        </script>
    </body>
</html>
