<!-- 좌측 메뉴바 -->
<nav class="ani-navbar">
    <div class="ani-navbar-menu">
        <a href="/myPage/myProfileRender?userId=<%=data.user_id%>">프로필</a>
    </div>
    <div class="ani-navbar-menu">
        <a href="/myPage/myreviewListRender?userId=<%=data.user_id%>"
            >리뷰 관리</a
        >
    </div>
    <div class="ani-navbar-menu">
        <a href="/myPage/myFavoriteConListRender?userId=<%= data.user_id%>"
            >내가 찜한 행사</a
        >
    </div>
</nav>
