<div class="sidebar">
    <a href="/myPage/myProfileRender?userId=<%= id %>">프로필</a>

    <a href="/myPage/myreviewListRender?userId=<%= id %>">리뷰 관리</a>

    <a href="/myPage/myFavoriteConListRender?userId=<%= id %>">찜한 행사</a>

    <a href="/myPage/myRegisterConRender?userId=<%= id %>">등록 신청 행사</a>
</div>
