<!-- 좌측 메뉴바 -->
<nav class="ani-navbar">
    연결 링크 고쳐야 함
    <div class="ani-navbar-menu">
        <a href="/manager/allUser">프로필</a>
    </div>
    <div class="ani-navbar-menu">
        <a href="/manager/allConference">리뷰 관리</a>
    </div>
    <div class="ani-navbar-menu">
        <a href="/manager/conferenceHandler">내가 찜한 행사</a>
    </div>
</nav>
