main {
    flex-direction: initial;
}

.conIsAgreed {
    display: flex;
}

.container {
    padding: 0px 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    /* width: 740px; */
}

.card {
    min-width: 300px;
}

.col-lg-10 {
    width: 740px;
}

.margin {
    margin: 0 auto;
}

div > h2 {
    font-size: large;
    font-weight: 700;
}

.padding {
    padding-bottom: 30px;
}

#successConferenceList li {
    padding: 4px 0;
    border-bottom: 1px solid #ddd;
}

#successConferenceList li:hover {
    /* background-color: #fbfde8; */
    background-color: var(--color-green);
    color: var(--color-white);
}

.accordion {
    --bs-accordion-active-bg: var(--color-white);
    box-shadow: none;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0;
}
