main {
    flex-direction: initial;
}

.conIsAgreed {
    display: flex;
}

.container {
    padding: 0px 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    /* width: 740px; */
}

.card {
    min-width: 300px;
}

.col-lg-10 {
    width: 740px;
}

.margin {
    margin: 0 auto;
}

div > h2 {
    font-size: large;
    font-weight: 700;
}

.padding {
    padding-bottom: 30px;
}
