.container {
    flex: 1;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--color-black);
    height: 100%;
    position: fixed;
    overflow: auto;
    font-size: 14px;
    text-align: center;
    z-index: 33;
}

.sidebar a {
    display: block;
    color: var(--color-green);
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: var(--color-green);
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 810px) {
    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .un {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .un {
        display: none;
    }

    .row {
        padding: 15px 0px;
    }
}
@media screen and (max-width: 500px) {
    .un-mobile {
        display: none;
    }

    .row {
        padding: 50px 0px;
    }
}
