.row {
    padding: 50px 0px;
}

.cardCenter {
    padding: 30px 0px;
}
.marginRemove {
    margin: 0 auto;
}

#conferenceList tr:hover td {
    background-color: var(--color-black);
    color: var(--color-green);
}

.modal-dialog {
    padding-top: 80px;
    max-width: 1200px;
    padding-bottom: 80px;
    /* height: 600px; */
}

.title-btn {
    cursor: pointer;
}
