@import url('./reset.css');
@import url('./root.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: var(--color-black);
    border-bottom: 1px solid #222;
}

header ul li a {
    color: var(--color-green);
}

main {
    flex: 1;
}

footer {
    background-color: var(--color-black);
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

@media all and (max-width: 1080px) {
    .wrap {
        width: 100%;
        padding: 0 40px;
    }
}

@media all and (max-width: 800px) {
    .wrap {
        padding: 0 20px;
    }
}
