<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../../common/head.ejs', {title: '리뷰 상세' }) %>
        <link rel="stylesheet" href="/static/css/pages/review/detail.css" />
</head>

<body>
    <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap">
                <section class="section">
                    <div class="my-editor">
                        <%- review.re_content %>
                    </div>
                </section>
            </div>

        </main>
        <%- include('../../common/footer.ejs') %>
</body>

</html>