<footer class="footer">
    <div class="wrap">
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Project</p>
                <!-- github으로 연결 -->
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Conferences</p>
                </li>
                <li>
                    <p>& Reviews</p>
                </li>
                <li>
                    <p>for U!</p>
                </li>
                <li>
                    <p>Developers</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Languages</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Javascript</p>
                </li>
                <li>
                    <p>EJS</p>
                </li>
                <li>
                    <p>CSS</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Backend</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <a href="https://github.com/flashrifle"
                        >flashrifle | 이재민</a
                    >
                </li>
                <li>
                    <a href="https://github.com/seeun0210">
                        seeun0210 | 김세은
                    </a>
                </li>
                <li>
                    <a href="https://github.com/sy33002">sy33002 | 김지형</a>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Frontend</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <a href="https://github.com/msm0748">msm0748 | 문석민</a>
                </li>
                <li>
                    <a href="https://github.com/lemon4974"
                        >lemon4974 | 최제윤</a
                    >
                </li>
            </ul>
        </div>
    </div>
</footer>
