<footer class="footer">
    <div class="wrap">
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Project</p>
                <!-- github으로 연결 -->
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Conferences</p>
                </li>
                <li>
                    <p>& Reviews</p>
                </li>
                <li>
                    <p>for U!</p>
                </li>
                <li>
                    <p>Developers</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Languages</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Javascript</p>
                </li>
                <li>
                    <p>EJS</p>
                </li>
                <li>
                    <p>CSS</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Backend</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>flashrifle</p>
                </li>
                <li>
                    <p>seeun0210</p>
                </li>
                <li>
                    <p>sy33002</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Frontend</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>msm0748</p>
                </li>
                <li>
                    <p>lemon4974</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
