<footer class="footer">
    <div class="wrap">
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Product</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Features</p>
                </li>
                <li>
                    <p>Learn</p>
                </li>
                <li>
                    <p>Plugins</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Templates</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Blog</p>
                </li>
                <li>
                    <p>Personal</p>
                </li>
                <li>
                    <p>Startup</p>
                </li>
            </ul>
        </div>
        <div class="depth1_list">
            <div class="depth2_title">
                <p>Resources</p>
            </div>
            <ul class="depth2_list">
                <li>
                    <p>Updates</p>
                </li>
                <li>
                    <p>Community</p>
                </li>
                <li>
                    <p>Contact</p>
                </li>
            </ul>
        </div>
    </div>
</footer>