<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '행사 목록' }) %>
        <script defer src="/static/js/eventList.js"></script>
        <link rel="stylesheet" href="/static/css/pages/event/list.css" />
    </head>

    <body>
        <%- include('../../common/header.ejs') %>
        <main>
            <div class="wrap">
                <article class="article py-5">
                    <section class="section">
                        <h2 class="mb-5 fs-3">이번 달 행사</h2>
                        <ul class="event-list"></ul>
                    </section>
                </article>
            </div>
        </main>
        <%- include('../../common/footer.ejs') %>
    </body>
</html>
