<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../../common/head.ejs', {title: '행사 글 작성' }) %>
        <link rel="stylesheet" href="/static/css/review.css" />
        <script defer src="/static/js/review.js"></script>
    </head>

    <body>
        <%- include('../../common/header.ejs') %>
        <main>행사 글쓰기 페이지</main>
        <%- include('../../common/footer.ejs') %>
    </body>
</html>
