#conference_title{
    position: fixed;
    top: 60px; /* 화면 상단에 고정 */
    left: 0;
    width: 100%; /* 화면 가로 폭만큼 너비 설정 */
    background-color: white; /* 배경색 설정 (원하는 색상으로 변경 가능) */
    z-index: 999; /* 다른 요소 위에 표시되도록 설정 (필요에 따라 조절 가능) */
    margin-top:10px;
margin-left:110px;
height:400px;
}
.con_image {
    width:500px;
    height:400px;
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정하여 부모 컨테이너에 맞게 조절 */
    height: auto; /* 가로 세로 비율 유지 */
}

/* 오른쪽 행사 정보 스타일 설정 */
.con_info_container {
    width: calc(100% - 400px); /* 이미지 컨테이너의 너비를 뺀 나머지 공간을 오른쪽 컨텐츠로 설정 (400px는 이미지 컨테이너의 너비) */
    float: right; /* 오른쪽으로 플로팅 */
}

/* 버튼 스타일 수정 */
.btn-no-bg {
    background: none;
    border: none;
    padding: 0;
}

/* 아이콘 스타일 지정 */
.btn-no-bg i {
    font-size: 40px; /* 아이콘 크기 설정 */
    color: #ff0000; /* 아이콘 색상 설정 */
}
#categorybar {
    display: flex; /* 내부 요소들을 가로로 나열하도록 설정 */
    width: 100%; /* 부모 컨테이너의 100% 너비를 차지하도록 설정 */
}

/* 각 버튼의 스타일 설정 (너비 조정) */
.btn-group .btn {
    flex: 1; /* 각 버튼을 동일한 너비로 설정하며, 부모 컨테이너 너비를 나눠가짐 */
}

