<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../common/head.ejs', {title: '메인 페이지'}) %>
    </head>
    <body>
        <%- include('../common/header.ejs') %>
        <main>
            <h1>메인 페이지</h1>
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>
