<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../common/head.ejs', {title: '로그인' }) %>
    </head>

    <body>
        <%- include('../common/header.ejs') %>
        <main>로그인 페이지</main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>
