<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/head.ejs', {title: '회원가입'}) %>
        <link rel="stylesheet" href="/static/css/pages/signup.css" />
    </head>
    <body>
        <%- include('../common/header.ejs') %>
        <main>

            <h1>회원가입</h1>
            <!-- 아이디, 비번, 이름, 주소, 메일, 관심분야 -->
            <form name="form_register">
                <label for="userId">ID</label>
                <input id="userId" type="text" name="userId" 
                
                required /><br />
                <button type="button" onclick="idCheck()">중복 아이디 체크</button><br/>
                <label for="userPw">비밀번호</label>
                <input
                    id="userPw"
                    type="password"
                    name="userPw"
                    
                    required
                /><br />
                <label for="userPwCheck">비밀번호 확인</label>
                <input
                    id="userPwCheck"
                    type="password"
                    name="userPwCheck"
                    required
                /><br />
                <div id="passwordMatchMessage"></div>
                <div class="userPwCheckMsg"></div>
                <label for="userName">이름</label>
                <input
                    id="userName"
                    type="text"
                    name="userName"
                    pattern="^([a-zA-Z가-힣]){4,}$"
                    title="이름은 대소문자 또는 한글로만 구성되어야 합니다."
                    required
                /><br />

                <!-- 주소 input 자료 찾아보기 -->
                <label for="userAddr">주소</label>
                <input
                    id="userAddr"
                    type="text"
                    name="userAddr"
                    pattern="^([a-zA-Z가-힣]){4,}$"
                    title="주소에 특수문자가 포함되어 있습니다."
                    required
                /><br />
                <!-- 부트스트랩 보통 주소가 하나의 input으로 받지 않음... -->
                <!-- <div class="col-12">
                    <label for="userAddr2" class="form-label">주소2</label>
                    <input
                        type="text"
                        class="form-control"
                        id="userAddr2"
                        placeholder="1234 Main St"
                    />
                </div> -->
                <!-- <div class="col-12"> -->
                    <!-- <label for="userPost" class="form-label">userPost</label>
                    <input
                        type="text"
                        class="form-control"
                        id="userPost"
                        placeholder="Apartment, studio, or floor"
                    />
                </div> -->
                <!-- <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity" />
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip" />
                </div> -->

                <div class="mb-3">
                    <label for="userEmail" class="form-label"
                        >Email address</label
                    >
                    <input
                        type="email"
                        class="form-control"
                        id="userEmail"
                        name="userEmail"
                        placeholder="email@example.com"
                        pattern="^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$"
                    title="이메일주소 형식이 올바르지 않습니다."
                    />
                </div>

                <select
                    class="form-select"
                    aria-label="Default select example"
                    name="userCategory"
                >
                    <option selected>관심분야를 선택해주세요.</option>
                    <option value="ai">AI</option>
                    <option value="web">웹 개발</option>
                    <option value="git">git</option>
                </select>

                <button type="button" onclick="register()">회원 가입</button>
            </form>

            <a href="/signin">Register</a>

        </main>
        <%- include('../common/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            const checkId=/^[a-z0-9]{4,}$/
            const checkPw=/^[a-zA-Z0-9]{8,}$/
            const checkName=/^[가-힣]{3,5}$/
            const checkAddr=/^[가-힣]{4,}$/
            const checkEmail=/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/

            
            // 회원가입 등록 버튼
            function register() {
                const form = document.forms['form_register'];
                
            
                if(!form.userId.value){
                    alert('아이디를 입력하세요!')
                }
                else if(!checkId.test(form.userId.value)){
                    alert('아이디는 소문자, 숫자로 구성된 4자 이상의 문자여야 합니다.')
                    form.userId.value=''
                }else if(!form.userPw.value){
                    alert('비밀번호를 입력하세요!')
                }else if(!checkPw.test(form.userPw.value)){
                    alert('비밀번호는 대소문자, 숫자로 구성된 8자 이상의 문자여야 합니다.')
                    form.userPw.value=''
                }else if(!form.userName.value){
                    alert('이름을 입력하세요!')
                }
                else if(!checkName.test(form.userName.value)){
                    alert('이름 형식이 올바르지 않습니다!')
                    form.useName.value=''
                }else if(!form.userAddr.value){
                    alert('주소를 선택하세요!')
                    
                }
                else if(!form.userEmail.value){
                    alert('이름을 입력하세요!')
                }
                else if(!checkEmail.test(form.userEmail.value)){
                    alert('이메일 형식이 올바르지 않습니다')
                    form.userEmail.value=''
                }
                else{

                axios({
                    method: 'POST',
                    url: '/signup',
                    data: {
                        userId: form.userId.value,
                        userPw: form.userPw.value,
                        userName: form.userName.value,
                        userAddr: form.userAddr.value,
                        userEmail: form.userEmail.value,
                        userCategory: form.userCategory.value,
                    },

                })
                    .then((res) => {
                        console.log(res);
                        if (res) {
                            alert(`${res.data.message}`);
                        }
                    })
                    .then(() => {
                        document.location.href = '/login'; // ->/login으로?
                    });

            }}
            // 아이디 중복 체크 버튼
            function idCheck() {
                const form = document.forms['form_register'];

                if(!form.userId.value){
                    alert('아이디를 입력하세요!')
                }
                else if(!checkId.test(form.userId.value)){
                alert('아이디는 대소문자, 숫자로 구성된 4자 이상의 문자여야 합니다.',form.userId.value)
                form.userId.value=''
                }else{

                axios({
                    method: 'GET',
                    url: `/exists/${form.userId.value}`,
                    data: { userId: form.userId.value },
                }).then((res) => {
                    console.log(res);
                    if (res.data.result === true) {
                        alert('이미 존재하는 아이디입니다.');
                        form.userId.value='';
                    } else if (res.data.result === false) {
                        alert('사용 가능한 아이디입니다.');


                    } else {
                        alert('서버 오류가 발생했습니다.');

                    }
                });}
            }

            // 비밀번호 일치 동적 폼
            const passwordInput = document.getElementById('userPw');
            const passwordCheckInput = document.getElementById('userPwCheck');
            const passwordMatchMessage = document.getElementById(
                'passwordMatchMessage'
            );
            function checkPasswordMatch() {
                const password = passwordInput.value;
                const confirmPassword = passwordCheckInput.value;

                if (password === confirmPassword) {
                    passwordMatchMessage.textContent = '비밀번호가 일치합니다.';
                    passwordMatchMessage.style.color = 'green';
                } else {
                    passwordMatchMessage.textContent =
                        '비밀번호가 일치하지 않습니다.';
                    passwordMatchMessage.style.color = 'red';
                }
            }
            passwordCheckInput.addEventListener('blur', checkPasswordMatch);
            
        </script>
    </body>
</html>
