<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/head.ejs', {title: '회원가입'}) %>
        <link rel="stylesheet" href="/static/css/pages/signup.css" />
    </head>
    <body>
        <%- include('../common/header.ejs') %>
        <main>
            <div class="section">
                <div class="container">
                    <div class="row full-height justify-content-center">
                        <div class="col-12 text-center align-self-center py-5">
                            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                                <!-- <h4 class="mb-0 pb-3">Flip it!</h4> -->
                                <!-- <input
                                    class="checkbox"
                                    type="checkbox"
                                    id="reg-log"
                                    name="reg-log"
                                /> -->
                                <label for="reg-log"></label>
                                <div class="card-3d-wrap mx-auto">
                                    <div class="card-3d-wrapper">
                                        <div class="card-front">
                                            <div class="center-wrap">
                                                <div
                                                    class="section text-center"
                                                >
                                                    <h6 class="pb-3">
                                                        <span>회원 가입</span>
                                                    </h6>
                                                    <!-- form 시작 -->
                                                    <form name="form_register">
                                                        <!-- id -->
                                                        <div
                                                            class="form-group userId-flex"
                                                        >
                                                            <div>
                                                                <label
                                                                    for="userId"
                                                                ></label>
                                                                <input
                                                                    id="userId"
                                                                    type="text"
                                                                    name="userId"
                                                                    class="form-style"
                                                                    placeholder="ID"
                                                                    required
                                                                />
                                                            </div>
                                                            <div
                                                                class="btn-idCheck"
                                                            >
                                                                <button
                                                                    type="button"
                                                                    class="btn"
                                                                    onclick="idCheck()"
                                                                >
                                                                    중복 아이디
                                                                    확인
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- password -->
                                                        <div class="form-group">
                                                            <label
                                                                for="userPw"
                                                            ></label>
                                                            <input
                                                                id="userPw"
                                                                type="password"
                                                                name="userPw"
                                                                class="form-style"
                                                                placeholder="Password"
                                                                required
                                                            /><br />
                                                            <label
                                                                for="userPwCheck"
                                                            ></label>
                                                            <input
                                                                id="userPwCheck"
                                                                type="password"
                                                                name="userPwCheck"
                                                                class="form-style"
                                                                placeholder="Re-enter Password"
                                                                required
                                                            /><br />
                                                            <div
                                                                id="passwordMatchMessage"
                                                            ></div>
                                                            <div
                                                                class="userPwCheckMsg"
                                                            ></div>
                                                        </div>
                                                        <!-- name -->
                                                        <div class="form-group">
                                                            <label
                                                                for="userName"
                                                            ></label>
                                                            <input
                                                                id="userName"
                                                                type="text"
                                                                name="userName"
                                                                class="form-style"
                                                                placeholder="Name"
                                                                required
                                                            />
                                                        </div>
                                                        <!-- address -->
                                                        <div class="form-group">
                                                            <label
                                                                for="userAddr"
                                                            ></label>
                                                            <input
                                                                id="userAddr"
                                                                type="text"
                                                                name="userAddr"
                                                                class="form-style"
                                                                placeholder="Address"
                                                                required
                                                            /><br />
                                                        </div>
                                                        <!-- email -->
                                                        <div class="form-group">
                                                            <label
                                                                for="userEmail"
                                                            ></label>
                                                            <input
                                                                type="email"
                                                                id="userEmail"
                                                                name="userEmail"
                                                                class="form-style"
                                                                placeholder="email@example.com"
                                                            />
                                                        </div>
                                                        <!-- category -->
                                                        <div
                                                            class="form-group block-category"
                                                        >
                                                            <select
                                                                class="form-style"
                                                                aria-label="Default select example"
                                                                name="userCategory"
                                                            >
                                                                <option
                                                                    selected
                                                                >
                                                                    관심분야를
                                                                    선택해주세요.
                                                                </option>
                                                                <option
                                                                    value="ai"
                                                                >
                                                                    AI
                                                                </option>
                                                                <option
                                                                    value="web"
                                                                >
                                                                    웹 개발
                                                                </option>
                                                                <option
                                                                    value="git"
                                                                >
                                                                    git
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <button
                                                            type="button"
                                                            class="btn mt-4"
                                                            onclick="register()"
                                                        >
                                                            Register
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../common/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            // 회원가입 등록 버튼
            function register() {
                const form = document.forms['form_register'];
                //if (!form.checkValidity()) {
                //    form.reportValidity();
                //    return;
                //}
                axios({
                    method: 'POST',
                    url: '/signup',
                    data: {
                        userId: form.userId.value,
                        userPw: form.userPw.value,
                        userName: form.userName.value,
                        userAddr: form.userAddr.value,
                        userEmail: form.userEmail.value,
                        userCategory: form.userCategory.value,
                    },
                })
                    .then((res) => {
                        console.log(res);
                        if (res) {
                            alert(`${res.data.message}`);
                        }
                    })
                    .then(() => {
                        document.location.href = '/login'; // ->/login으로?
                    });
            }
            // 아이디 중복 체크 버튼
            function idCheck() {
                const form = document.forms['form_register'];
                console.log(form.userId.value);
                axios({
                    method: 'GET',
                    url: `/exists/${form.userId.value}`,
                    data: { userId: form.userId.value },
                }).then((res) => {
                    console.log(res);
                    if (res.data.result === true) {
                        alert('이미 존재하는 아이디입니다.');
                    } else if (res.data.result === false) {
                        alert('사용 가능한 아이디입니다.');
                    }
                });
            }

            // 비밀번호 일치 동적 폼
            const passwordInput = document.getElementById('userPw');
            const passwordCheckInput = document.getElementById('userPwCheck');
            const passwordMatchMessage = document.getElementById(
                'passwordMatchMessage'
            );
            function checkPasswordMatch() {
                const password = passwordInput.value;
                const confirmPassword = passwordCheckInput.value;

                if (password === confirmPassword) {
                    passwordMatchMessage.textContent = '비밀번호가 일치합니다.';
                    passwordMatchMessage.style.color = 'green';
                } else {
                    passwordMatchMessage.textContent =
                        '비밀번호가 일치하지 않습니다.';
                    passwordMatchMessage.style.color = 'red';
                }
            }
            passwordCheckInput.addEventListener('blur', checkPasswordMatch);
        </script>
    </body>
</html>
